:root {
  --tone-212-175-55: 212, 175, 55;
  --tone-0-0-0: 0, 0, 0;
  --tone-255-255-255: 255, 255, 255;
  --tone-247-215-116: 247, 215, 116;
  --tone-8-8-8: 8, 8, 8;
  --tone-255-218-115: 255, 218, 115;
  --tone-24-21-13: 24, 21, 13;
  --tone-9-9-9: 9, 9, 9;
  --tone-2-2-2: 2, 2, 2;
  --tone-244-214-117: 244, 214, 117;
  --tone-243-212-116: 243, 212, 116;
  --tone-183-139-50: 183, 139, 50;
  --tone-218-177-87: 218, 177, 87;
  --tone-255-215-130: 255, 215, 130;
  --tone-255-209-111: 255, 209, 111;
  --tone-185-132-39: 185, 132, 39;
  --tone-255-225-154: 255, 225, 154;
  --tone-122-82-24: 122, 82, 24;
  --tone-225-173-68: 225, 173, 68;
  --tone-255-202-90: 255, 202, 90;
  --tone-245-193-88: 245, 193, 88;
  --tone-164-112-34: 164, 112, 34;
  --tone-255-223-142: 255, 223, 142;
  --tone-178-126-38: 178, 126, 38;
  --tone-241-192-91: 241, 192, 91;
  --tone-255-216-126: 255, 216, 126;
  --tone-126-86-25: 126, 86, 25;
  --tone-217-163-59: 217, 163, 59;
  --tone-255-226-151: 255, 226, 151;
  --tone-231-180-77: 231, 180, 77;
  --tone-137-94-30: 137, 94, 30;
  --tone-255-206-100: 255, 206, 100;
  --tone-164-112-31: 164, 112, 31;
  --tone-236-188-84: 236, 188, 84;
  --tone-255-229-157: 255, 229, 157;
  --tone-194-140-41: 194, 140, 41;
  --tone-255-208-103: 255, 208, 103;
  --tone-255-219-133: 255, 219, 133;
  --tone-239-186-76: 239, 186, 76;
  --tone-139-95-28: 139, 95, 28;
  --tone-255-211-110: 255, 211, 110;
  --tone-169-116-32: 169, 116, 32;
  --tone-229-175-65: 229, 175, 65;
  --tone-255-228-155: 255, 228, 155;
  --tone-216-174-87: 216, 174, 87;
  --tone-215-172-84: 215, 172, 84;
  --tone-224-184-96: 224, 184, 96;
  --tone-220-178-90: 220, 178, 90;
  --tone-3-3-3: 3, 3, 3;
  --tone-215-174-89: 215, 174, 89;
  --tone-217-174-87: 217, 174, 87;
  --tone-216-173-86: 216, 173, 86;
  --tone-223-180-93: 223, 180, 93;
  --tone-201-150-62: 201, 150, 62;
  --tone-197-155-69: 197, 155, 69;
  --tone-212-175-90: 212, 175, 90;
  --tone-220-180-90: 220, 180, 90;
  --tone-214-175-88: 214, 175, 88;
  --tone-218-178-88: 218, 178, 88;
  --tone-11-11-12: 11, 11, 12;
  --tone-23-23-25: 23, 23, 25;
  --tone-25-25-27: 25, 25, 27;
  --tone-216-177-91: 216, 177, 91;
  --tone-140-104-44: 140, 104, 44;
  --tone-224-186-98: 224, 186, 98;
  --tone-243-243-243: 243, 243, 243;
  --tone-230-191-105: 230, 191, 105;
  --tone-242-209-125: 242, 209, 125;
  --tone-182-134-49: 182, 134, 49;
  --tone-229-189-100: 229, 189, 100;
  --tone-208-167-79: 208, 167, 79;
  --tone-30-30-31: 30, 30, 31;
  --tone-8-8-9: 8, 8, 9;
  --tone-219-181-99: 219, 181, 99;
  --tone-244-211-135: 244, 211, 135;
  --tone-184-134-48: 184, 134, 48;
  --tone-196-148-57: 196, 148, 57;
  --tone-218-176-87: 218, 176, 87;
  --tone-192-143-47: 192, 143, 47;
  --tone-230-190-104: 230, 190, 104;
  --tone-212-170-79: 212, 170, 79;
  --tone-205-160-67: 205, 160, 67;
  --tone-212-170-78: 212, 170, 78;
  --tone-117-82-25: 117, 82, 25;
  --tone-222-181-91: 222, 181, 91;
  --tone-208-164-70: 208, 164, 70;
  --tone-103-72-22: 103, 72, 22;
  --tone-255-222-151: 255, 222, 151;
  --tone-211-169-78: 211, 169, 78;
  --tone-196-147-47: 196, 147, 47;
  --tone-210-168-79: 210, 168, 79;
  --tone-27-27-28: 27, 27, 28;
  --tone-5-5-6: 5, 5, 6;
  --tone-223-183-96: 223, 183, 96;
  --tone-194-145-49: 194, 145, 49;
  --tone-221-180-90: 221, 180, 90;
  --tone-201-151-54: 201, 151, 54;
  --tone-5-5-5: 5, 5, 5;
  --tone-174-128-41: 174, 128, 41;
  --tone-223-182-92: 223, 182, 92;
  --tone-205-158-64: 205, 158, 64;
  --tone-213-171-82: 213, 171, 82;
  --tone-199-154-67: 199, 154, 67;
  --tone-241-210-139: 241, 210, 139;
  --tone-212-173-88: 212, 173, 88;
  --tone-102-102-102: 102, 102, 102;
  --tone-68-68-68: 68, 68, 68;
  --tone-155-112-39: 155, 112, 39;
  --tone-224-187-104: 224, 187, 104;
  --tone-133-133-133: 133, 133, 133;
  --tone-245-217-146: 245, 217, 146;
  --tone-104-104-104: 104, 104, 104;
  --tone-246-221-160: 246, 221, 160;
  --tone-225-189-107: 225, 189, 107;
  --tone-170-170-170: 170, 170, 170;
  --tone-229-193-109: 229, 193, 109;
  --tone-232-197-116: 232, 197, 116;
  --tone-246-219-131: 246, 219, 131;
  --tone-184-134-46: 184, 134, 46;
  --tone-121-85-26: 121, 85, 26;
  --tone-139-100-31: 139, 100, 31;
  --tone-255-231-155: 255, 231, 155;
  --tone-154-109-33: 154, 109, 33;
  --tone-248-220-122: 248, 220, 122;
  --tone-74-51-14: 74, 51, 14;
  --tone-109-76-22: 109, 76, 22;
  --tone-40-35-26: 40, 35, 26;
  --tone-17-16-14: 17, 16, 14;
  --tone-7-7-7: 7, 7, 7;
}
